@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  /*
	font-weight: normal;
	*/
  vertical-align: baseline;
  font-size: 100%;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  overflow-y: scroll;
}

body {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*
	background-color: #998E78;
	*/
  outline: none;
}
html,
body {
  margin: 0;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input,
textarea {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

a:focus,
*:focus {
  outline: none;
}

a:focus {
  outline: none;
}

.clearfix {
  position: relative;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*/ /*/
	height: auto;
	overflow: hidden;
	/**/
}

.both {
  clear: both;
}

.inline_block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.largeInner {
  width: 96%;
  min-width: 960px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.largeInner:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.largeInner {
  min-height: 1px;
}

* html .largeInner {
  height: 1px;
  /*¥*/ /*/
	height: auto;
	overflow: hidden;
	/**/
}

.inner {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.inner {
  min-height: 1px;
}

* html .inner {
  height: 1px;
  /*¥*/ /*/
	height: auto;
	overflow: hidden;
	/**/
}

.smallInner {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.smallInner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.smallInner {
  min-height: 1px;
}

* html .smallInner {
  height: 1px;
  /*¥*/ /*/
	height: auto;
	overflow: hidden;
	/**/
}

.leftBox {
  width: 50%;
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.rightBox {
  width: 50%;
  float: right;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.leftBox,
.rightBox {
  width: -webkit-calc(50% - 20px);
  width: calc(50% - 20px);
  max-width: 100%;
  height: auto;
}

.topBox {
  width: 100%;
  height: 100vh;
  height: -webkit-calc(100vh - 90px);
  height: calc(100vh - 90px);
  min-height: 100vh;
  min-height: -webkit-calc(100vh - 90px);
  min-height: calc(100vh - 90px);
  position: relative;
}

.fullBox {
  width: 100%;
  height: 100vh;
  height: -webkit-calc(100vh - 55px);
  height: calc(100vh - 55px);
  min-height: 100vh;
  min-height: -webkit-calc(100vh - 55px);
  min-height: calc(100vh - 55px);
  position: relative;
}

.sp {
  display: none;
}

#container {
  padding: 90px 0 0 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#container.event_scheduleContainer {
  background-color: transparent;
}

.drawer--top.drawer-open #container {
  opacity: 0.2;
}

::selection {
  background-color: #c98f69;
  color: #ffffff;
}

::-moz-selection {
  background-color: #c98f69;
  color: #ffffff;
}

* {
  outline: none;
}

.sp {
  display: none;
}

@media screen and (max-width: 1200px) {
  .smallInner {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  .inner {
    width: 95%;
  }
  .largeInner {
    width: 100%;
    min-width: inherit;
    margin: 0 auto;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
}
